.about-widget {
  background-color: #363C43;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-right: 50px;
  height: 230px;
  width: 100%;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 50px;
  background-color: rgb(12, 12, 12);
  border-radius: 20px;
}

.tab {
  background-color: transparent;
  color: #898989;
  border: none;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  width: 150px;
  border-radius: 15px;
}

.tab.active {
  background-color: #28292F;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.326) 0px -12px 30px, rgb(0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0.619) 0px 12px 13px, rgba(0, 0, 0, 0.579) 0px -3px 5px;
}

.content {
  color: #464646;
  overflow-y: scroll;
  scrollbar-width:  thin ;
  max-height: 150px;

}
.content p{
  font-size: 17px;
  color: #8d9094;
}